@import url('https://fonts.googleapis.com/css?family=Muli|Roboto');
.formulario{
    width: 400px;
    margin: 50px auto;
    border: 1px solid #505050;
    padding: 25px;
}
.title1{
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin: 20px auto;
    color: #454545;
    font-weight: 300;
    font-size: 30px;
}
.form-control{
    border-radius: 0px;
    height: 45px;
}
.p-1{
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #03637c;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    color: #03637c;
    line-height: 60px;
}
.p-1 span{
    font-weight: 900;
    font-size: 30px;
}
.p-2{
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ee4545;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #951414;
    line-height: 20px;
}
.iei{
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    color: #f12222;
    text-align: center;
    font-size: 50px;
}